tests/compare/build/
tests/opensoldat/build/
build/
apps/resources/*.res
assets/*.exe
assets/*.config.json
assets/client.config.mjson
assets/data/downloads/
assets/demos/
assets/screenshots
assets/mods/*
!assets/mods/classic/
